h1 {
  color: #007700;/*文字色*/
  text-align: center;/*文字-中央寄せ*/
  padding: 0.5em 0.5em;/*上下の余白*/
  border-top: solid 15px;/*上線*/
  border-bottom: solid 15px;/*下線*/
}

h2 {
  font-size: 30px;
}
  
.text{ /*テキスト*/
  font-size: 15px;
  position:relative;
  top: 20px;
  left:430px;  
}

.form { /*入力フォーム*/
  position:relative;
  top: 5px;
  left:430px;
  padding:10px;
  border-radius: 6px;
  border-top: 1px solid #aaa;
  border-left: 1px solid #aaa;
  border-right: 2px solid #aaa;
  border-bottom: 2px solid #aaa;
  background-image: none;
  background-color: #ddd;
  font-size: 16px;
  white-space: normal;
}

.button{ /*送信ボタン*/
  font-size: 15px;
  position: relative;
  left: 620px;
  border-radius: 3px;
  background: #EEEEEE;
}